body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
    text-align: center;
}

h2 {
    color: #3046C5;
}

header h2 {
    color: #CEC8FF;
}

footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}
.site-footer{
    background-image: linear-gradient(#CEC8ff, white);
    padding: 20px 0;
}
.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, #5637DD, #3046C5, #60106B);
    color: white;
    margin: 0;
}
.nav {
    background-color:#3bbdc6;
}
