body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
    text-align: center;
}

h2 {
    color: #3046C5;
}

h4 {
    text-align: center;
}

header h2 {
    color: #CEC8FF;
}

footer {
    
    padding: 20px 0;
}
.site-footer{
   
    padding: 20px 0;
}
.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right);
    color: white;
    margin: 0;
}
.nav {
    background-color:#3bbdc6;
}

.jumbotron {
        margin: 0;
        padding: 30px;
    }
 video {
        max-width: 100%;
      }
    